/*此文件为针对amz的一些兼容性补充，只在ie8及以下生效*/
INPUT{font-size: 10pt;}
TEXTAREA{font-size: 10pt;}
BUTTON{font-size: 10pt;}
.am-form-group{ margin-bottom:15px;}
[class*=am-u-]{padding-left:10px;padding-right:10px}
.am-u-md-1{width:8.33333333%}
.am-u-md-2{width:16.66666667%}
.am-u-md-3{width:25%}
.am-u-md-4{width:33.33333333%}
.am-u-md-5{width:41.66666667%}
.am-u-md-6{width:50%}
.am-u-md-7{width:58.33333333%}
.am-u-md-8{width:66.66666667%}
.am-u-md-9{width:75%}
.am-u-md-10{width:83.33333333%}
.am-u-md-11{width:91.66666667%}
.am-u-md-12{width:100%}
.am-form-horizontal .am-form-label { text-align: right;}

