<script>
    $(function () {
        $('.sorting_desc').click(function () {
            var order = $(this).data('order');
            location='$data[p]?$data[query]&order='+order+'&by=asc';
        })
        $('.sorting_asc').click(function () {
            var order = $(this).data('order');
            location='$data[p]?$data[query]&order='+order+'&by=desc';
        })
    })
</script>

<script>
    //获得选中文件的文件名
    function getCheckboxItem() {
        var allSel = new Array();
        $('input[name=ids]').each(function () {
            if ($(this).prop('checked')) {
                allSel.push($(this).val());
            }
        });
        allSel = allSel.join(',');
        return allSel;
    }

    function AuditSel(){
        var nid = getCheckboxItem();
        if(nid==""){
            alertMsg('请选择项目!');
            return ;
        }
        confirmMsg('你确定要审核这些信息吗?',function () {
            $.getJSON('/admin/forms/dataCheck?ischeck=1&fid=$data[fid]&ids='+nid,function (res) {
                $('#confirmMsg').modal('hide');
                resultMsg(res.msg, res.code);
                if(res.code==200){
                    setTimeout(function () {
                        location = res.referer;
                    }, 2000);
                }
            })
        })
    }

    function DelSel() {
        var nid = getCheckboxItem();
        if (nid === "") {
            alertMsg("请选择项目!\r\n");
            return;
        }
        confirmMsg('你确定要删除这些信息吗?',function () {
            $.getJSON('/admin/forms/dataDel?fid=$data[fid]&ids='+nid,function (res) {
                if(res.code!==200){
                    alertMsg(res.msg);
                }else{
                    nid.split(',').forEach(function(id) {
                        $('.row-'+id).hide();
                    });
                }
                $('#confirmMsg').modal('hide');
            })
        })
    }

    $(function () {
        $('.btn-check').click(function () {
            var ischeck = $(this).data('ischeck');
            var id = $(this).data('id');
            var that = $(this);
            $.getJSON('/admin/forms/dataCheck?ischeck='+ischeck+'&fid=$data[fid]&ids='+id,function (res) {
                if(res.code!==200){
                    alertMsg(res.msg);
                }else{
                    if(ischeck===1){
                        that.data('ischeck','2').addClass('btn-success').removeClass('btn-danger').text('已审核');
                    }else{
                        that.data('ischeck','1').addClass('btn-danger').removeClass('btn-success').text('未审核');
                    }
                }
            })
        })
    })
</script>
