<div class="row">
    <div class="col-xl-12">
        <div class="breadcrumb-holder">
            <h5 class="float-left" style="line-height: 2.2rem">$data[form][name]</h5>
            <ol class="breadcrumb float-right">
                <!--{if $data[form][cpadd]==1 && (empty($data[admin][purviews]) || in_array('dataSave'.$data[fid],$data[admin][purviews]))}-->
                <a role="button" class="btn btn-success btn-sm" href="/admin/forms/dataSave?$data[query]&id="><i class="fa fa-plus-square"></i> 增加新数据</a>
                <!--{/if}-->
            </ol>
            <div class="clearfix"></div>
        </div>
    </div>
</div>