<!--{template html_head}-->
</head>
<body>
<div class="card text-center" style="width: 22rem;margin: 10rem auto">
    <div class="card-header">
        {$cfg[webname]}提示信息
    </div>
    <div class="card-body">
        <!--{if $code==200}-->
        <i class="fa-2x mr-2 mt-2 far fa-check-circle bigfonts text-success fa-3x"></i>
        <!--{else}-->
        <i class="fa-2x mr-2 mt-2 far fa-times-circle bigfonts text-danger fa-3x"></i>
        <!--{/if}-->
        <p class="card-text text-dark mt-2 fa-1x">{$msg}($code)</p>
        <!--{if !empty($referer)}-->
        <a href="$referer" class="text-info">如果你的浏览器没反应，请点击这里...</a>
        <!--{/if}-->
    </div>
</div>
<!--{if !empty($referer)}-->
<script>setTimeout("location='$referer';",3000);</script>
<!--{/if}-->
</body>
</html>