<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{$cfg[webname]}后台管理系统</title>
    <link href="$cfg[basehost]favicon.ico" type="image/x-icon" rel="shortcut icon">
    <link href="$cfg[resourceUrl]assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="$cfg[resourceUrl]assets/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="card text-center" style="width: 22rem;margin: 10rem auto">
    <div class="card-header">
        {$cfg[webname]}提示信息
    </div>
    <div class="card-body">
        <p class="card-text text-dark">{$msg}</p>
        <a href="$referer" class="text-info">如果你的浏览器没反应，请点击这里...</a>
    </div>
</div>
<script>setTimeout("location='$referer';",3000);</script>
</body>
</html>