<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no"/>
    <title>接口说明文档</title>
    <link rel="stylesheet" href='$cfg[resourceUrl]amazeui/2.7.2/css/amazeui.min.css'/>
    <script src='$cfg[resourceUrl]amazeui/2.7.2/js/jquery.min.js'></script>
    <script src='$cfg[resourceUrl]amazeui/2.7.2/js/amazeui.min.js'></script>

</head>
<body>
<div class="am-panel am-panel-secondary">
    <div class="am-panel-hd">接口说明（$cfg[basehost]{$data[fileName]}.php?p=路由地址&...）</div>
    <div class="am-panel-bd div-list">
        <div class="am-tabs" data-am-tabs>
            <ul class="am-tabs-nav am-nav am-nav-tabs">
                {eval $i=0;}
                <!--{loop $data[forms] $k $v}-->
                <!--{if strpos($v[openapi],'1')!==false}-->
                {eval $i++;}
                <li {echo $k<1?'class="am-active"':''}><a href="#listmethod-$v[table]">$v[name]列表</a></li>
                <!--{/if}-->
                <!--{/loop}-->
            </ul>

            <div class="am-tabs-bd">
                <!--{loop $data[forms] $k $v}-->
                <!--{if strpos($v[openapi],'1')!==false}-->
                <div class="am-tab-panel am-fade {echo $k<1?'am-in am-active':''}" id="listmethod-$v[table]">
                    <div class="item">
                        <p>参数(*为必填项)</p>
                        <pre>
*p：api/dataList
*fid:$v[id]{echo "\n"}
page:翻页数
pagesize:一页显示数，默认30{echo "\n"}
{echo $v[cpcheck]==1?"ifcheck:2未审核，1已审核\n":''}
<!--{loop $v[searchFields] $k1 $v1}-->
<!--{if in_array($v1[datatype],['date','datetime'])}-->
{$v1[identifier]}_s:$v1[title](起始)(格式：{echo date('Y-m-d',TIMESTAMP)})
{$v1[identifier]}_e:$v1[title](截止)(格式：{echo date('Y-m-d',TIMESTAMP)})
<!--{elseif in_array($v1[datatype],['checkbox'])}-->
{$v1[identifier]}:$v1[title](多个筛选用“`”隔开，如:1`2)
<!--{else}-->
{$v1[identifier]}:$v1[title]
<!--{/if}-->
<!--{if !empty($v1[rules])}-->
(<!--{loop unserialize($v1[rules]) $k2 $v2}-->
{$k2}:$v2,<!--{/loop}-->)
<!--{/if}-->
<span style="color:gray"> {echo aval($v1,'intro')}</span>
{echo "\n"}
<!--{/loop}-->
<!--{if !empty($v[orderFields])}-->
order:排序（<!--{loop $v[orderFields] $k1 $v1}-->{$v1[identifier]}{$v1[title]}, <!--{/loop}--> rand()随机显示）
{echo "\n"}by:desc倒序，asc正序
{echo "\n"}
<!--{else}-->
order:排序（rand()随机显示）
<!--{/if}-->
<a href="?p=api/dataList&fid=$v[id]&page=1&pagesize=100" target="_blank">访问</a>
                        </pre>
                        <p>返回</p>
                        <pre>
{
      "cod": 200,
      "data": {
       infolist:[{echo "\n"}
         id:自增ID
         createtime:创建时间
         ifcheck:审核状态(无特殊说明，此值忽略){echo "\n"}
<!--{loop $v[listFields] $k1 $v1}-->
         {$v1[identifier]}:$v1[title]<!--{if !empty($v1[rules])}--> (<!--{loop unserialize($v1[rules]) $k2 $v2}--> {$k2}:$v2,<!--{/loop}--> ) <!--{/if}-->,{echo "\n"}
<!--{/loop}-->
       ],
        page:当前页数,
        pagesize:一页显示数量,
        count:总数,
        maxpages:总页数,
        },
      "msg": 操作成功
}
                        </pre>
                    </div>
                </div>
                <!--{/if}-->
                <!--{/loop}-->
            </div>
        </div>
    </div>
    <!--{if !$i}-->
    <script>$('.div-list').hide()</script>
    <!--{/if}-->

    <div class="am-panel-bd div-count">
        <div class="am-tabs" data-am-tabs>
            <ul class="am-tabs-nav am-nav am-nav-tabs">
                {eval $i=0;}
                <!--{loop $data[forms] $k $v}-->
                <!--{if strpos($v[openapi],'8')!==false}-->
                {eval $i++;}
                <li {echo $k<1?'class="am-active"':''}><a href="#countmethod-$v[table]">$v[name]统计</a></li>
                <!--{/if}-->
                <!--{/loop}-->
            </ul>

            <div class="am-tabs-bd">
                <!--{loop $data[forms] $k $v}-->
                <!--{if strpos($v[openapi],'8')!==false}-->
                <div class="am-tab-panel am-fade {echo $k<1?'am-in am-active':''}" id="countmethod-$v[table]">
                    <div class="item">
                        <p>参数(*为必填项)</p>
                        <pre>
*p：api/dataCount
*fid:$v[id]{echo "\n"}
<!--{loop $v[searchFields] $k1 $v1}-->
<!--{if in_array($v1[datatype],array('date','datetime'))}-->
{$v1[identifier]}_s:$v1[title](起始)(格式：{echo date('Y-m-d',TIMESTAMP)})
{$v1[identifier]}_e:$v1[title](截止)(格式：{echo date('Y-m-d',TIMESTAMP)})
<!--{else}-->
{$v1[identifier]}:$v1[title]
<!--{/if}-->
<!--{if !empty($v1[rules])}-->
(<!--{loop unserialize($v1[rules]) $k2 $v2}-->
{$k2}:$v2,<!--{/loop}-->)
<!--{/if}-->
{echo "\n"}
<!--{/loop}-->
<a href="?p=api/dataCount&fid=$v[id]" target="_blank">访问</a>
                        </pre>
                        <p>返回</p>
                        <pre>
{
      "code": 200,
      "data": {
       count:数量,
      },
      "msg": 操作成功
}
                        </pre>
                    </div>
                </div>
                <!--{/if}-->
                <!--{/loop}-->
            </div>
        </div>
    </div>
    <!--{if !$i}-->
    <script>$('.div-count').hide()</script>
    <!--{/if}-->

    <div class="am-panel-bd div-view">
        <div class="am-tabs" data-am-tabs>
            <ul class="am-tabs-nav am-nav am-nav-tabs">
                {eval $i=0;}
                <!--{loop $data[forms] $k $v}-->
                <!--{if strpos($v[openapi],'2')!==false}-->
                {eval $i++;}
                <li {echo $k<1?'class="am-active"':''}><a href="#viewmethod-$v[table]">$v[name]展示</a></li>
                <!--{/if}-->
                <!--{/loop}-->
            </ul>

            <div class="am-tabs-bd">
                <!--{loop $data[forms] $k $v}-->
                <!--{if strpos($v[openapi],'2')!==false}-->
                <div class="am-tab-panel am-fade {echo $k<1?'am-in am-active':''}" id="viewmethod-$v[table]">
                    <div class="item">
                        <p>参数(*为必填项)</p>
                        <pre>
*p：api/dataView
*fid:$v[id]{echo "\n"}
*id:信息ID{echo "\n"}
{echo $v[id]==62?'*openid:openid':''}{echo "\n"}
<a href="?p=api/dataView&fid=$v[id]&id=1" target="_blank">访问</a>
                        </pre>
                        <p>返回</p>
                        <pre>
{
      "code": 200,
      "data": {{echo "\n"}
         id:自增ID
         createtime:创建时间
         ifcheck:审核状态(无特殊说明，此值忽略){echo "\n"}
<!--{loop $v[allFields] $k1 $v1}-->
         {$v1[identifier]}:$v1[title],{echo !empty($v1[units])?'('.$v1[units].')':''}{echo !empty($v1[intro])?'(注：'.$v1[intro].')':''}<!--{if !empty($v1[rules])}--> (<!--{loop unserialize($v1[rules]) $k2 $v2}--> {$k2}:$v2,<!--{/loop}--> ) <!--{/if}-->{echo "\n"}
<!--{/loop}-->
       },
      "msg": 操作成功
}
                        </pre>
                    </div>
                </div>
                <!--{/if}-->
                <!--{/loop}-->
            </div>
        </div>
    </div>
    <!--{if !$i}-->
    <script>$('.div-view').hide()</script>
    <!--{/if}-->

    <div class="am-panel-bd div-save">
        <div class="am-tabs" data-am-tabs>
            <ul class="am-tabs-nav am-nav am-nav-tabs">
                {eval $i=0;}
                <!--{loop $data[forms] $k $v}-->
                <!--{if strpos($v[openapi],'3')!==false}-->
                {eval $i++;}
                <li {echo $k<1?'class="am-active"':''}><a href="#savemethod-$v[table]">$v[name]增改保存</a></li>
                <!--{/if}-->
                <!--{/loop}-->
            </ul>

            <div class="am-tabs-bd">
                <!--{loop $data[forms] $k $v}-->
                <!--{if strpos($v[openapi],'3')!==false}-->
                <div class="am-tab-panel am-fade {echo $k<1?'am-in am-active':''}" id="savemethod-$v[table]">
                    <div class="item">
                        <p>参数(*为必填项)</p>
                        <pre>
*p：api/dataSave
*fid:$v[id]{echo "\n"}
id:信息ID(编辑时传此值){echo "\n"}
<!--{loop $v[allFields] $k1 $v1}-->
<!--{if $v1[infront]==1}-->
{echo $v1[required]==1?'*':''}{$v1[identifier]}:$v1[title]{echo !empty($v1[units])?'('.$v1[units].')':''}{echo !empty($v1[intro])?'(注：'.$v1[intro].')':''}{echo $v1[datatype]=='readonly'?'(注：此字段只读数据，编辑时不需要传此参数)':''}
<!--{if !empty($v1[rules])}-->
(<!--{loop unserialize($v1[rules]) $k2 $v2}-->
{$k2}:$v2,<!--{/loop}-->)
<!--{/if}-->
{echo "\n"}
<!--{/if}-->
<!--{/loop}-->
                        </pre>
                        <p>返回</p>
                        <pre>
{
      "code": 200,
      "data": {},
      "msg": 操作成功
}
                        </pre>
                    </div>
                </div>
                <!--{/if}-->
                <!--{/loop}-->
            </div>
        </div>
    </div>
    <!--{if !$i}-->
    <script>$('.div-save').hide()</script>
    <!--{/if}-->

    <div class="am-panel-bd div-check">
        <div class="am-tabs" data-am-tabs>
            <ul class="am-tabs-nav am-nav am-nav-tabs">
                {eval $i=0;}
                <!--{loop $data[forms] $k $v}-->
                <!--{if strpos($v[openapi],'7')!==false}-->
                {eval $i++;}
                <li {echo $k<1?'class="am-active"':''}><a href="#checkmethod-$v[table]">$v[name]审核</a></li>
                <!--{/if}-->
                <!--{/loop}-->
            </ul>

            <div class="am-tabs-bd">
                <!--{loop $data[forms] $k $v}-->
                <!--{if strpos($v[openapi],'7')!==false}-->
                <div class="am-tab-panel am-fade {echo $k<1?'am-in am-active':''}" id="checkmethod-$v[table]">
                    <div class="item">
                        <p>参数(*为必填项)</p>
                        <pre>
*p：api/dataSave
*fid:$v[id]{echo "\n"}
*ids:信息ID(多个用","隔开)
*ischeck:审核状态(2不审核，1审核){echo "\n"}
                        </pre>
                        <p>返回</p>
                        <pre>
{
      "code": 200,
      "data": {},
      "msg": 操作成功
}
                        </pre>
                    </div>
                </div>
                <!--{/if}-->
                <!--{/loop}-->
            </div>
        </div>
    </div>
    <!--{if !$i}-->
    <script>$('.div-check').hide()</script>
    <!--{/if}-->

    <div class="am-panel-bd div-del">
        <div class="am-tabs" data-am-tabs>
            <ul class="am-tabs-nav am-nav am-nav-tabs">
                {eval $i=0;}
                <!--{loop $data[forms] $k $v}-->
                <!--{if strpos($v[openapi],'4')!==false}-->
                {eval $i++;}
                <li {echo $k<1?'class="am-active"':''}><a href="#delmethod-$v[table]">$v[name]删除</a></li>
                <!--{/if}-->
                <!--{/loop}-->
            </ul>

            <div class="am-tabs-bd">
                <!--{loop $data[forms] $k $v}-->
                <!--{if strpos($v[openapi],'4')!==false}-->
                <div class="am-tab-panel am-fade {echo $k<1?'am-in am-active':''}" id="delmethod-$v[table]">
                    <div class="item">
                        <p>参数(*为必填项)</p>
                        <pre>
*p：api/dataDel
*fid:$v[id]{echo "\n"}
*ids:信息ID(多个用","隔开)
                        </pre>
                        <p>返回</p>
                        <pre>
{
      "code": 200,
      "data": {},
      "msg": 操作成功
}
                        </pre>
                    </div>
                </div>
                <!--{/if}-->
                <!--{/loop}-->
            </div>
        </div>
    </div>
    <!--{if !$i}-->
    <script>$('.div-del').hide()</script>
    <!--{/if}-->

    <div class="am-panel-bd div-export">
        <div class="am-tabs" data-am-tabs>
            <ul class="am-tabs-nav am-nav am-nav-tabs">
                {eval $i=0;}
                <!--{loop $data[forms] $k $v}-->
                <!--{if strpos($v[openapi],'5')!==false}-->
                {eval $i++;}
                <li {echo $k<1?'class="am-active"':''}><a href="#exportmethod-$v[table]">$v[name]导出</a></li>
                <!--{/if}-->
                <!--{/loop}-->
            </ul>

            <div class="am-tabs-bd">
                <!--{loop $data[forms] $k $v}-->
                <!--{if strpos($v[openapi],'5')!==false}-->
                <div class="am-tab-panel am-fade {echo $k<1?'am-in am-active':''}" id="exportmethod-$v[table]">
                    <div class="item">
                        <p>参数(*为必填项)</p>
                        <pre>
*p：api/dataExport
*fid:$v[id]{echo "\n"}
page:翻页数
pagesize:一页显示数，默认1000{echo "\n"}
<!--{loop $v[searchFields] $k1 $v1}-->
<!--{if in_array($v1[datatype],array('date','datetime'))}-->
{$v1[identifier]}_s:$v1[title](起始)(格式：{echo date('Y-m-d',TIMESTAMP)})
{$v1[identifier]}_e:$v1[title](截止)(格式：{echo date('Y-m-d',TIMESTAMP)})
<!--{else}-->
{$v1[identifier]}:$v1[title]
<!--{/if}-->
<!--{if !empty($v1[rules])}-->
(<!--{loop unserialize($v1[rules]) $k2 $v2}-->
{$k2}:$v2,<!--{/loop}-->)
<!--{/if}-->
{echo "\n"}
<!--{/loop}-->
                        </pre>
                        <p>返回</p>
                        <pre>
{
      "code": 200,
      "data": {},
      "msg": 操作成功
}
                        </pre>
                    </div>
                </div>
                <!--{/if}-->
                <!--{/loop}-->
            </div>
        </div>
    </div>
    <!--{if !$i}-->
    <script>$('.div-export').hide()</script>
    <!--{/if}-->

    <div class="am-panel-bd div-form">
        <div class="am-tabs" data-am-tabs>
            <ul class="am-tabs-nav am-nav am-nav-tabs">
                {eval $i=0;}
                <!--{loop $data[forms] $k $v}-->
                <!--{if strpos($v[openapi],'6')!==false}-->
                {eval $i++;}
                <li {echo $k<1?'class="am-active"':''}><a href="#formmethod-$v[table]">$v[name]表单结构</a></li>
                <!--{/if}-->
                <!--{/loop}-->
            </ul>

            <div class="am-tabs-bd">
                <!--{loop $data[forms] $k $v}-->
                <!--{if strpos($v[openapi],'6')!==false}-->
                <div class="am-tab-panel am-fade {echo $k<1?'am-in am-active':''}" id="formmethod-$v[table]">
                    <div class="item">
                        <p>参数(*为必填项)</p>
                        <pre>
*p：api/dataForm
*fid:$v[id]{echo "\n"}
id:信息ID（编辑时传此值）
                        </pre>
                        <p>返回</p>
                        <pre>
{
      "code": 200,
      "data": {{echo "\n"}
         form:{ 表单 }
         fieldshtml:[字段HTML]{echo "\n"}
       },
      "msg": 操作成功
}
                        </pre>
                    </div>
                </div>
                <!--{/if}-->
                <!--{/loop}-->
            </div>
        </div>
    </div>
    <!--{if !$i}-->
    <script>$('.div-form').hide()</script>
    <!--{/if}-->

    <!--{if $data[list]}-->
    <div class="am-panel-bd">
        <div class="am-tabs" data-am-tabs>
            <ul class="am-tabs-nav am-nav am-nav-tabs">
                <!--{loop $data[list] $k $v}-->
                <li {echo $k<1?'class="am-active"':''}><a href="#method-{echo str_replace('/','',$v[apiname])}">$v[title]</a></li>
                <!--{/loop}-->
            </ul>

            <div class="am-tabs-bd">
                <!--{loop $data[list] $k $v}-->
                <div class="am-tab-panel am-fade {echo $k<1?'am-in am-active':''}" id="method-{echo str_replace('/','',$v[apiname])}">
                    <div class="item">
                        <p>参数(*为必填项)</p>
                        <pre>
*p：$v[apiname]

$v[paramintro]
                        </pre>
                        <p>返回</p>
                        <pre>
$v[result]
                        </pre>
                    </div>
                </div>
                <!--{/loop}-->
            </div>
        </div>
    </div>
    <!--{/if}-->
</div>
<div class="am-panel am-panel-secondary" id="prompt">
    <div class="am-panel-hd">提示信息</div>
    <div class="am-panel-bd">
        <div class="am-tabs" data-am-tabs>
            <div class="am-tabs-bd">
                <div class="am-tab-panel  am-active">
                    <pre>
{echo var_export($data[prompts])}
                    </pre>
                </div>
            </div>
        </div>
    </div>
</div>
    <script>
        $(function () {
            $('.am-tabs-bd').css({'user-select': 'text'});
        })
    </script>
</body>
</html>