<script src="$cfg[resourceUrl]assets/js/modernizr.min.js"></script>
<script src="$cfg[resourceUrl]assets/js/moment.min.js"></script>

<script src="$cfg[resourceUrl]assets/js/popper.min.js"></script>
<script src="$cfg[resourceUrl]assets/js/bootstrap.min.js"></script>

<script src="$cfg[resourceUrl]assets/js/detect.js"></script>
<script src="$cfg[resourceUrl]assets/js/fastclick.js"></script>
<script src="$cfg[resourceUrl]assets/js/jquery.blockUI.js"></script>
<script src="$cfg[resourceUrl]assets/js/jquery.nicescroll.js"></script>

<script src="$cfg[resourceUrl]assets/js/pikeadmin.js"></script>