<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>$cfg[webname]后台管理系统</title>
    <link href="$cfg[basehost]favicon.ico" type="image/x-icon" rel="shortcut icon">
    <link href="$cfg[resourceUrl]assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="$cfg[resourceUrl]assets/font-awesome/css/all.css" rel="stylesheet" type="text/css" />
    <script src="$cfg[resourceUrl]assets/js/jquery.min.js"></script>
    <link href="$cfg[resourceUrl]assets/css/style.css" rel="stylesheet" type="text/css" />
    <script>
        var basehost = "$cfg[basehost]{$cfg[entryFileName]}?adminAuth=$data[admin][adminAuth]";
    </script>