<script>
    $(function () {
        $('.sorting_desc').click(function () {
            var order = $(this).data('order');
            <!--{if $cfg[urlEncrypt]}-->
            location='{url ?p=forms/dataList&fid=$data[fid]&order='+order+'&by=asc}';
            <!--{else}-->
            location='{url &order='+order+'&by=asc}';
            <!--{/if}-->
        })
        $('.sorting_asc').click(function () {
            var order = $(this).data('order');
            <!--{if $cfg[urlEncrypt]}-->
            location='{url ?p=forms/dataList&fid=$data[fid]&order='+order+'&by=desc}';
            <!--{else}-->
            location='{url &order='+order+'&by=desc}';
            <!--{/if}-->
        })
    })
</script>

<script>
    //获得选中文件的文件名
    function getCheckboxItem() {
        var allSel = new Array();
        $('input[name=ids]').each(function () {
            if ($(this).prop('checked')) {
                allSel.push($(this).val());
            }
        });
        allSel = allSel.join(',');
        return allSel;
    }

    function AuditSel(){
        var nid = getCheckboxItem();
        if(nid==""){
            alertMsg('请选择项目!');
            return ;
        }
        confirmMsg('你确定要审核这些信息吗?',function () {
            location = '{url ?p=forms/dataCheck&ischeck=1&fid=$data[fid]&ids='+nid+'}';
        })
    }

    function DelSel() {
        var nid = getCheckboxItem();
        if (nid == "") {
            alertMsg("请选择项目!\r\n");
            return;
        }
        confirmMsg('你确定要删除这些信息吗?',function () {
            <!--{if $cfg[urlEncrypt]}-->
            location = '{url ?p=forms/dataDel&fid=$data[fid]&ids='+nid+'}';
            <!--{else}-->
            location = '{url &p=forms/dataDel&ids='+nid+'}';
            <!--{/if}-->

        })
    }

    $(function () {
        $('.btn-check').click(function () {
            var ischeck = $(this).data('ischeck');
            var id = $(this).data('id');
            var that = $(this);
            $.getJSON('{url ?p=forms/dataCheck&ischeck='+ischeck+'&fid=$data[fid]&ids='+id+'}',function (res) {
                if(res['code']!=200){
                    alert(res.msg);
                }else{
                    if(ischeck==1){
                        that.data('ischeck','2').addClass('btn-success').removeClass('btn-danger').text('已审核');
                    }else{
                        that.data('ischeck','1').addClass('btn-danger').removeClass('btn-success').text('未审核');
                    }
                }
            })
        })
    })
</script>