<div class="row">
    <div class="col-xl-12">
        <div class="breadcrumb-holder">
            <h5 class="float-left" style="line-height: 2.2rem">$data[form][name]</h5>
            <ol class="breadcrumb float-right">
                <!--{if $data[form][cpadd]==1}-->
                <li class="breadcrumb-item"><a role="button" class="btn btn-primary btn-sm" href="{url &p=forms/dataSave&id=}">增加新数据</a></li>
                <!--{/if}-->
            </ol>
            <div class="clearfix"></div>
        </div>
    </div>
</div>