<div class="form-group row formgroup-$v[identifier]">
    <label for="$v[identifier]" class="col-sm-2 col-form-label">{echo $v[required]==1?'<sapn style="color: red">*</sapn>':''}$v[title]：</label>
    <!--{if $v[datatype]=='map'}-->
    <div class="col-sm-10">
        $v[field]
        <div class="invalid-feedback"></div>
    </div>
    <!--{else}-->
    <div class="col-sm-6 {echo $v[datatype]=='radio'||$v[datatype]=='checkbox'?'form-inline':''}">
        <!--{if $v[units]}-->
        <div data-colorpicker-id="4" class="input-group mb-3">
            <!--{/if}-->
            <!--{if aval($data,'data/id') && $v[forbidedit]==2}-->
            <input type="hidden" name="$v[identifier]" id="$v[identifier]" value="$data[data][$v[identifier]]" />
            <!--{if $v[datatype]=='img'}-->
            <a href="$data[data]['_'.$v[identifier]]" target="_blank"><img src="$data[data]['_'.$v[identifier]]" width="100"></a>
            <!--{elseif $v[forbidedit]=='2' && $v[datatype]=='serialize' && !empty($data[data]['_'.$v[identifier]])}-->
            {echo nl2br(str_replace(["array (\n", "),\n", ")"], '', var_export($data[data]['_'.$v[identifier]], true)))}
            <!--{elseif $v[datatype]=='imgs' && !empty($data[data]['_'.$v[identifier]])}-->
            <link rel="stylesheet" href="$cfg[resourceUrl]plugins/webuploader/image-upload/css/css.css" />
            <div class="mod_list_photo">
                <ul>
                    <!--{loop $data[data]['_'.$v[identifier]] $val}-->
                    <li class="libtn" id='oldpic$ik'>
                        <div class="box_photo">
                            <em><a href="{echo copyImage($val[img], 2000, 2000)}" target="_blank" title="查看"><i></i><img src="{echo copyImage($val[img], 160, 160)}" /></a></em>
                        </div>
                    </li>
                    <!--{/loop}-->
                </ul>
            </div>
            <!--{else}-->
            $data[data]['_'.$v[identifier]]
            <!--{/if}-->
            <!--{else}-->
            $v[field]
            <!--{/if}-->
            <!--{if $v[units]}-->
            <span class="input-group-append"><span tabindex="0" class="input-group-text">$v[units]</span></span>
        </div>
        <!--{/if}-->
        <div class="invalid-feedback"></div>
    </div>
    <div class="col-sm-4 text-muted">{echo nl2br($v[intro])}</div>
    <!--{/if}-->
</div>
