<input class="form-control $data[css]" type="text" readonly id="$data[identifier]" name="$data[identifier]" value="$data[default]">
<!--{if $data[isLoadMultidate]==1}-->
<script src="$cfg[resourceUrl]plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<script src="$cfg[resourceUrl]plugins/bootstrap-datepicker/bootstrap-datepicker.zh-CN.min.js" charset="UTF-8"></script>
<link href="$cfg[resourceUrl]plugins/bootstrap-datepicker/bootstrap-datepicker3.min.css" rel="stylesheet">';
<script>
    $.fn.mdatepicker = $.fn.datepicker.noConflict();
</script>
<!--{/if}-->
<script>
    $('#{$data[identifier]}').mdatepicker({
        format: 'yyyy-mm-dd',
        language: 'zh-CN',
        multidate: true,
        multidateSeparator: ','
    })
</script>