<!--{template html_head}-->
<link rel="stylesheet" type="text/css" href="$cfg[resourceUrl]assets/plugins/datatables/datatables.min.css" />
<script src="$cfg[resourceUrl]validform/js/Validform_min.js"></script>
<link rel="stylesheet" href="$cfg[resourceUrl]validform/css/validform.css" />
</head>
<body>
<style type="text/css">
    .headerbar .headerbar-left {
        width: 50px;
    }
    .navbar-custom {
        margin-left: 50px;
    }
</style>
<div class="headerbar">
    <div class="headerbar-left">

    </div>

    <nav class="navbar-custom">
        <ul class="list-inline menu-left mb-0">
            <li class="float-left">
                <a href="" class="logo"><span>$data[form][name]详细</span></a>
            </li>
        </ul>
    </nav>
</div>

<div class="container-fluid" style="margin-top: 5rem">

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="card mb-3">
                <div class="card-body m-4">
                        <!--{loop $data[fields] $v}-->
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">$v[title]：</label>
                            <div class="col-sm-6">
                                <!--{if $v[datatype]=='img'}-->
                                <img src="$data[row]['_'.$v[identifier]]" width="100">
                                <!--{elseif $v[datatype]=='imgs'}-->
                                <!--{loop $data[row]['_'.$v[identifier]] $v1}-->
                                <img src="$v1[img]" width="100">
                                <!--{/loop}-->
                                <!--{elseif $v[forbidedit]=='2' && $v[datatype]=='serialize' && !empty($data[data]['_'.$v[identifier]])}-->
                                {echo nl2br(str_replace(["array (\n", "),\n", ")"], '', var_export($data[row]['_'.$v[identifier]], true)))}
                                <!--{else}-->
                                $data[row]['_'.$v[identifier]]
                                <!--{/if}-->
                            </div>
                            <div class="col-sm-4 text-muted">
                            </div>
                        </div>
                        <!--{/loop}-->
                </div>
            </div>
        </div>
    </div>
</div>
<!--{template footer}-->
</body>
</html>